/*.marksI .marksO .speedI .speedO .payI .bI .bnI .cbI .irI .payeO .nhifO .nssfO .nsO {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10%;
    text-align: justify;
}*/
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
    padding-left: 0%;
}
body {
    text-align: center;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1%;
    padding-left: 0%;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    font-stretch: expanded;
}
input {
    background: white;
     text-align: center;
     width: 80px;
  }
button {
    background-color: grey;
    padding: 2px;
    border-radius: 10px;
    width: 6%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: medium;
    
}
output {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font: caption;
}
label {
    text-align: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}